* {padding: 0;margin: 0;}
body {background-color: #f1f7fa;}
#sheildimg {height: 20px;width: 20px;}
#ecsr {font-family: cursive;
  color: #76d3f7;
  font-size: 18px;
}
#menubar {
  background-color: #95cff7;
  width: 100%;
  height: 30px;
  float: right;
}
.btns:hover {
  background-color: #3922e1;
  color: white;
  cursor: pointer;
  height: 30px;
  padding: 3px;
}
.btns {
  background-color: #95cff7;
  size: 20px;
  font-size: 20px;
  border: none;
  float: right;
  margin-left: 15px;
  padding: 3px;
  margin-right:8px
}
#selfimg {
  width: 350px;
  height: 445px;
  margin-left:4px;
  margin-top:4px
}
#totalbottom {
  width: 100%;
  background-color: #5548b9;
  height: 28px;
}
#totalbottomtext {
  text-align: center;
  color: white;
  font-size: 10px;
  padding-top: 10px;
}
#last2nd {
  text-align: center;
  background-color: #361cf1;
  color: white;
  height: 47px;
  padding-top: 30px;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
  margin-left: 10px;
}
.fa-google {
  background: #55acee;
  color: white;
  margin-left: 10px;
}
.fa-instagram {
  background: #55acee;
  color: white;
  margin-left: 10px;
}
.fa-linkedin {
  background: #55acee;
  color: white;
  margin-left: 10px;
}
.fa-github {
  background: #55acee;
  color: white;
  margin-left: 10px;
}
#middle {
  display: flex;
  width: 100%;
  margin-bottom:2px;
}
#right {
  width:100%;
  margin-left:15px;
  margin-top:8px;
}
.rightbox{
	border:1px solid blue;
	width:98%;
	margin-bottom:5px;
	height:210px;
	display:flex;
}
#imgtop{
	height:100%;
	width:428px;
}
#imgbot{
	height:99%;
	width:426px;
	border:1px solid orange;
}
.boxdata{
	padding-left:7px;
	padding-top:10px;
	padding-right:3px;
}
.boxhead{
	color:#0612CE ;
	font-size:22px;
	font-weight:bold;
}
#box1info{
	font-size:17px;
	text-align:justify;
}
#box2info{
	font-size:17px;
	text-align:justify;
}